<a href="https://colab.research.google.com/github/Deepan-mn/Machine_Learning_Techniques/blob/main/Label_Encoding_Techniques_In_Data_PreProcessig/Label_Encoding_Data_PreProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Label Encoding<br>


*   Converting the labels into numeric form <br>
when are working in classification problem (prediction of class which it belongs to!) we will convert into  0 or 1 , in this we will convert into either the class is 0 or 1
<br>
Note: LabelEncoder from SkLearn Library

DataSet Taken for Example


1.   BreastCancer
2.   Iris Data set(Predicting Three species)

In [2]:
#importing the Dependencies
import pandas as pd
from sklearn.preprocessing import LabelEncoder

##Label Encoding of Breast Cancer Dataset

In [3]:
#loading the data From CSV file to Pandas DataFrame

cancer_data =pd.read_csv('/content/data.csv')

In [4]:
#print the five rows of the dataset
cancer_data.head()

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN
3  84348301         M  ...                  0.17300          NaN
4  84358402         M  ...                  0.07678          NaN

[5 rows x 33 columns]

**Find the Count of Different labels**

In [6]:
cancer_data['diagnosis'].value_counts()

B    357
M    212
Name: diagnosis, dtype: int64

**Load the label encoder function**

In [7]:
label_encode = LabelEncoder()

**Convert the Label(diagonsis) into Numeric**

In [8]:
labels = label_encode.fit_transform(cancer_data.diagnosis)

**Appending the labels to the DataFrame**

In [14]:
cancer_data['target']= labels

In [18]:
cancer_data.head()

         id diagnosis  ...  Unnamed: 32  target
0    842302         M  ...          NaN       1
1    842517         M  ...          NaN       1
2  84300903         M  ...          NaN       1
3  84348301         M  ...          NaN       1
4  84358402         M  ...          NaN       1

[5 rows x 34 columns]

0--> benign
1--> Malignant

**Now Drop the diagnosis Column**

In [19]:
cancer_data['target'].value_counts()

0    357
1    212
Name: target, dtype: int64

##Label Encoding of Iris DataSet

In [22]:
#loading the data from csv file to pandas dataframe
iris_data= pd.read_csv('/content/iris_data.csv')

In [23]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [24]:
iris_data['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

**Loading the Label Encoder**

In [25]:
label_encode_1 =LabelEncoder()

**Labels are converted into numeric**

In [27]:
iris_labels =label_encode_1.fit_transform(iris_data.Species)

In [29]:
iris_data['target'] =iris_labels

In [30]:
iris_data['target'].value_counts()

2    50
1    50
0    50
Name: target, dtype: int64



1.Iris-setosa  = 0  
2.Iris-versicolor = 1
3.Iris-virginica  = 2